In [241]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt

In [242]:
#Loading the data
data=pd.read_csv('spam.csv',encoding='ISO-8859-1')

In [243]:
#Just looking at first five data points.
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [244]:
#Dropping the extra three columns as they are NAN type and are not useful for us.
data=data.drop(["Unnamed: 2","Unnamed: 3","Unnamed: 4"],axis=1)

In [245]:
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [246]:
#Renaming the columns as v1-->label and v2-->SMS
data.columns=['label','SMS']

In [247]:
#Remapping the values of ham and spam as 1 and 0 as Machine Learning can work on numbers only.
new_labels=data['label'].map({'ham':0,'spam':1})

In [248]:
#Replacing older label with new one.
data['new_labels']=new_labels

In [249]:
targets=data['new_labels'].as_matrix()

C:\Users\ADMIN\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [250]:
targets

array([0, 0, 1, ..., 0, 0, 0], dtype=int64)

In [251]:
data.head()

  label                                                SMS  new_labels
0   ham  Go until jurong point, crazy.. Available only ...           0
1   ham                      Ok lar... Joking wif u oni...           0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...           1
3   ham  U dun say so early hor... U c already then say...           0
4   ham  Nah I don't think he goes to usf, he lives aro...           0

In [252]:
#Initialsing count vectorizer.
Count_Vec=CountVectorizer(decode_error='ignore')

In [253]:
#Converting each SMS into Vectors(Bag of Words.)
data_vectors=Count_Vec.fit_transform(data['SMS'])

In [254]:
#Splitting the data.
X_train,X_test,Y_train,Y_test=train_test_split(data_vectors,targets,test_size=0.33)

In [255]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [256]:
from sklearn.metrics import accuracy_score
pred=clf.predict(X_test)
print("Accuracy_score=",accuracy_score(pred,Y_test))

Accuracy_score= 0.9847743338771071

In [310]:
#creating a dataframe with a single column for testing.
cust_data=pd.DataFrame(['Thanks for your Ringtone Order, Reference T91. You will be charged GBP 4 per week. You can unsubscribe at anytime by calling customer services on 09057039994'],columns=['SMS'])

In [311]:
cust_data.head()

                                                 SMS
0  Thanks for your Ringtone Order, Reference T91....

In [312]:
#Transforming the data into vectors.
cnt_vec=CountVectorizer(decode_error='ignore')
cnt_vec.fit(data['SMS'])
vec=cnt_vec.transform(cust_data['SMS'])

In [313]:
predicted_label=pd.DataFrame([clf.predict(vec)],columns=['pred'])

In [314]:
predicted_label.head()

   pred
0     1

In [315]:
predicted_label=predicted_label['pred'].map({1:'Spam',0:'Not Spam'}).as_matrix()

C:\Users\ADMIN\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [316]:
print("The above message is=",predicted_label[0])

The above message is= Spam

In [302]:
re=clf.predict(X_test)